.photos-portfolio-banner.lg {
    height: 680px;
    overflow: hidden;
    padding-top: 100px;
}

.photos-portfolio-banner.osaka-banner.lg.bg-parallax-main {
    background: url(./../assets/images/photos/travel/travel.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

/* Pre/Actual Wedding */
.wed-jhaz-banner.bg-parallax-main {
    background: url(./../assets/images/photos/wedding/2018/aug/jaha-azweina/full/jhaz_bg.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.wed-shyk-banner.bg-parallax-main {
    background: url(./../assets/images/photos/wedding/2018/dec/shenhwa-yokeking/full/shyk_bg.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.wed-jymt-banner.bg-parallax-main {
    background: url(./../assets/images/photos/wedding/2019/jan/jinyong-muiting/full/jymt_bg.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.wed-jsmc-banner.bg-parallax-main {
    background: url(./../assets/images/photos/wedding/2019/nov/joshua-munching/full/jsmc_bg.jpg) 0% 0% / cover;
    background-position: bottom;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

/* Travel */
.travel-melacca-banner.bg-parallax-main {
    background: url(./../assets/images/photos/travel/2019/feb/melacca/banner/melacca-bg.jpg) 0% 0% / cover;
    background-position: bottom;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.travel-langtengah-banner.bg-parallax-main {
    background: url(./../assets/images/photos/travel/2019/sep/lang-tengah/banner/langtengah-bg.jpg) 0% 0% / cover;
    background-position: bottom;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}


/* Interior */
.spc-ekocheras-banner.bg-parallax-main {
    background: url(./../assets/images/photos/spaces/2019/ekocheras/full/ekocheras-bg.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

/* Commercial */
.cm-puma-training-banner.bg-parallax-main {
    background: url(./../assets/images/photos/commercial/2019/aug/puma-training/banner/puma-bg.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.cm-horizon-banner.bg-parallax-main {
    background: url(./../assets/images/photos/commercial/2018/march/horizon/banner/horizon-banner.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.cm-hurom-banner.bg-parallax-main {
    background: url(./../assets/images/photos/commercial/2018/jun/hurom/banner/hurom_banner.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.cm-regenie-banner.bg-parallax-main {
    background: url(./../assets/images/photos/commercial/2019/feb/regenie/banner/regenie-banner.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.cm-rewild-banner.bg-parallax-main {
    background: url(./../assets/images/photos/commercial/2019/march/rewild/banner/rewild-banner.jpg) 0% 0% / cover;
    background-position: top;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.cm-empro-banner.bg-parallax-main {
    background: url(./../assets/images/photos/commercial/2018/sep/empro/banner/empro-banner.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

/* Portrait */
.portrait-wendychew-banner.bg-parallax-main {
    background: url(./../assets/images/photos/portrait/2018/oct/wendychew/banner/wendy-banner.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.portrait-sokying-dress-banner.bg-parallax-main { 
    background: url(../assets/images/photos/portrait/2018/dec/sokying-dress/banner/sokying-dress-banner.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px #393f484d;
}

.portrait-ivin-banner.bg-parallax-main { 
    background: url(../assets/images/photos/portrait/2019/june/ivin/banner/ivin-banner.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.portrait-unclechau-banner.bg-parallax-main { 
    background: url(../assets/images/photos/portrait/2018/jan/lcchau/banner/unclechau-banner.jpg) 0% 0% / cover;
    background-position: top;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.portrait-fyona-ivin-banner.bg-parallax-main { 
    background: url(../assets/images/photos/portrait/2019/sep/ivin-fyona/banner/ivin-fyona-banner.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.portrait-eiona-banner.bg-parallax-main { 
    background: url(../assets/images/photos/portrait/2019/june/eiona/banner/eiona-banner.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

@media (max-width: 992px) {
    .cm-puma-training-banner.bg-parallax-main {
        /* background-position: bottom; */
        background-attachment: unset;
    }

    .cm-regenie-banner.bg-parallax-main {
        background: url(./../assets/images/photos/commercial/2019/feb/regenie/portfolio/rg-1.jpg) 0% 0% / cover;
        background-position: top;
        background-attachment: fixed;
        background-position: center;
    }
}