.photos-portfolio-banner.lg {
    height: 650px;
    overflow: hidden;
    padding-top: 100px;
}

.photos-portfolio-banner.osaka-banner.lg.bg-parallax-main {
    background: url(./../assets/images/photos/travel/travel.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

/* Pre/Actual Wedding */
.wed-jhaz-banner.bg-parallax-main {
    background: url(./../assets/images/photos/wedding/2018/aug/jaha-azweina/full/jhaz_bg.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.wed-shyk-banner.bg-parallax-main {
    background: url(./../assets/images/photos/wedding/2018/dec/shenhwa-yokeking/full/shyk_bg.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.wed-jymt-banner.bg-parallax-main {
    background: url(./../assets/images/photos/wedding/2019/jan/jinyong-muiting/full/jymt_bg.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.wed-jsmc-banner.bg-parallax-main {
    background: url(./../assets/images/photos/wedding/2019/nov/joshua-munching/full/jsmc_bg.jpg) 0% 0% / cover;
    background-position: bottom;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}


/* Interior */
.spc-ekocheras-banner.bg-parallax-main {
    background: url(./../assets/images/photos/spaces/2019/ekocheras/full/ekocheras-bg.jpg) 0% 0% / cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

