<section class="footer">
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 footer-date">
                    <img style="width: 170px;" src="../../assets/images/icons/year.svg" alt="Year">
                    <p class="pt-3 d-none d-sm-block" style=" font-size: 0.9rem;">
                        Lorem ipsum dolor sit amet, consectetur Pretty In pink ipsum dolor sit amet,
                        consectetur
                    </p>
                </div>
                <div class="col-xs-12 col-md-4 text-center uppercase">
                    <img src="../../assets/images/logo/snr.png" alt="S&R Logo">
                    <p class="pt-3"
                        style="margin:0; letter-spacing: 3px; font-family: Barlow Semi Condensed; font-weight: 500; color: #fff; font-size: 1.2rem;">
                        &COPY; The S&R CREATION
                    </p>
                </div>
                <div class="col-xs-12 col-md-4 footer-socials">
                    <a href="https://www.facebook.com/wgsamcreation" target="_blank"><img src="../../assets/images/icons/fb.svg" alt="Facebook"></a>
                    <a href="https://www.instagram.com/wg_sam" target="_blank"><img src="../../assets/images/icons/ig.svg" alt="Instagram"></a>
                    <a href="https://www.youtube.com/c/RoyWongrygraphy" target="_blank"><img src="../../assets/images/icons/youtube.svg" alt="Youtube"></a>
                    <p class="pt-3 pr-3 font-weight-500">
                        GET IN TOUCH
                    </p>
                </div>
            </div>
        </div>
    </footer>
</section>