<section class="sr-side-menu">
    <div class="sr-side-area-inner" style="overflow-y: hidden; outline: none;">
        <div class="sr-close-side-menu-holder">
            <a class="sr-contact-side-menu-closer" href="#">
                <span class="close-icon ion-android-close"></span>
            </a>
        </div>
        <div class="widget sr-sidearea widget_text">
            <div class="textwidget">
                <h6 style="color:#fff">Contact Us</h6>
                <span style=" color:#929292; font-size:24px; font-weight: 300;">
                    Lai, lets work together. </span>
            </div>
        </div>
        <div class="contact-menu-content">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="assets/images/contact-us.png" alt="Sam & Roy">
                    <div class="contact-info py-4">
                        <div class="title-inquiries pb-2">
                            <span class="title-txt">
                                <span style="font-size:15px; font-weight: lighter;">For any inquiries, here's how to
                                    reach us:</span>
                            </span>
                        </div>
                        <div class="email-content">
                            <span class="title-txt">
                                <i class="contact-icon ion-ios-email-outline"></i>
                                Email:
                                <!--  -->
                                <a href="mailto:samwg16@gmail.com"><span
                                        style="font-weight: 200; color: #fff;">samwg16@gmail.com</span></a>
                            </span>
                        </div>
                        <div class="phone-content">
                            <span class="title-txt">
                                <i class="contact-icon ion-ios-telephone-outline"></i>
                                Phone:
                                <span style="font-weight: 200;">+60127591758</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sr-side-area-bottom">
        <div class="widget sr-sidearea widget_text">
            <div class="textwidget">
                <h6 style="color: #afafaf;">We Are Awesome Follow Us</h6>
                <a href="https://www.facebook.com/wgsamcreation" target="_blank"><img src="assets/images/icons/fb.svg" alt="Facebook"></a>
                <a href="https://www.instagram.com/wg_sam" target="_blank"><img src="assets/images/icons/ig.svg" alt="Instagram"></a>
                <a href="https://www.youtube.com/c/RoyWongrygraphy" target="_blank"><img src="assets/images/icons/youtube.svg" alt="Youtube"></a>
            </div>
        </div>
    </div>
</section>